Subject: File deleted from project
<p>Hello,</p>
<p>A file was deleted from one of your projects, click here to see the project: <a href="{{ projectUrl }}">{{ projectUrl }}</a></p>

<p>Kind Regards,<br />
IOP Global</p>