Subject: Permission change on a project
<p>Hello,</p>
<p>
Your permission changed from {{ fromPermission }} to {{ toPermission }}.
</p>
<p>
Click here to see the project: <a href="{{ projectUrl }}">{{ projectUrl }}</a>
</p>

<p>Kind Regards,<br />
IOP Global</p>