Subject: Project version sealed
<p>Hello,</p>
<p>A version of one of your projects has been sealed, click here to see the project: <a href="{{ projectUrl }}">{{ projectUrl }}</a></p>

<p>Kind Regards,<br />
IOP Global</p>